pip>=24.0
setuptools>=65.0.0
wheel
cmake
annotated-types
anyio
bcrypt==4.3.0
certifi
click
cloudinary==1.44.1
colorama
dlib
dnspython
ecdsa==0.19.1
email-validator
exceptiongroup
face-recognition
face-recognition-models
fastapi
fastapi-cli
greenlet
h11
h2
hpack
httpcore
httptools
httpx
hyperframe
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
numpy==1.24.4
opencv-contrib-python==4.12.0.88
opencv-python==4.10.0
opencv-python-headless==4.10.0
passlib==1.7.4
pillow
psycopg2
psycopg2-binary==2.9.10
pyasn1==0.6.1
pydantic
pydantic-core
Pygments
python-dotenv
python-jose==3.5.0
python-multipart
PyYAML
rich
rich-toolkit
rsa==4.9.1
shellingham
six==1.17.0
sniffio
SQLAlchemy
starlette
typer==0.16.0
typer-slim==0.16.0
typing-inspection
typing-extensions
urllib3==2.5.0
uvicorn
watchfiles
websockets


